@*@model IEnumerable<sistemaAspCore.Models.Categoria>*@
@model Paginacion<sistemaAspCore.Models.Categoria>
@{
    ViewData["Title"] = "Index";
}

<h1>Categoria Cursos</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nuevo</button></a>
</p>
<!--caja buscar-->
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filtro:<input type="text" name="buscar" value="@ViewData["filtro"]" />
            <input type="submit" value="Buscar" class="btn btn-default" />
            <a asp-action="Index">Todos los registros</a> | Registros mostrados:@Model.TotalR
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Nombresort"]" asp-route-filtro="@ViewData["filtro"]">Nombre</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Descripcionsort"]" asp-route-filtro="@ViewData["filtro"]">Descripcion</a>
            </th>
            <th>
                <a asp-action="Index">Estado</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HaspreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasnextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.Pagina-1)"
   asp-route-filtro="@ViewData["filtro"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>

    @for (int i = 1; i <= Model.Totalpagina; i++)
    {
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@i"
       asp-route-filtro="@ViewData["filtro"]"
       class="btn btn-default">@i
    </a>
    }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.Pagina+1)"
   asp-route-filtro="@ViewData["filtro"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
